table {
    width: auto;
}

table thead tr th,
table tbody tr td {
    //border: 1px solid #ddd;
    padding: 10px;
}

table tbody tr td:last-child {
    border-right: 1px solid #ddd;
}

table tbody tr td:first-child {
    border-left: 1px solid #ddd;
}

table thead tr th,
table tbody tr td {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

table tbody tr td.subsequent-row {
    border-top: none;
}

table thead tr th:first-child,
table thead tr th:last-child,
table tbody tr td:first-child,
table tbody tr td:last-child {
    padding-left: 10px;
    padding-right: 10px;
}

