<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@atlaskit/css-reset@6.0.5/dist/bundle.css"
          integrity="sha384-FRDBEe5TG03YyuS4M8yZMSNxWIelD2mpc5yULD7eKpdM0/ZMxfg3Lspyx1vqLQtN" crossorigin="anonymous"/>
    <title>Play SQL Coding interview</title>
</head>
<body>
    <h1>Play SQL Coding interview</h1>
    <p>This is a greeting</p>
    <p><a th:href="@{/home}">Back to home</a>.</p>
</body>
</html>