<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@atlaskit/css-reset@6.0.5/dist/bundle.css"
          integrity="sha384-FRDBEe5TG03YyuS4M8yZMSNxWIelD2mpc5yULD7eKpdM0/ZMxfg3Lspyx1vqLQtN" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/traceability-matrix.css"/>
    <title>Requirement Yogi Coding interview</title>
</head>

<body style="padding: 0; margin: 0">
    <div id="root" style="margin: 30px">Please wait</div>
    <script src="/js/traceability-matrix-vanilla.js"></script>
</body>
</html>